<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos mínimos (documentación técnica §10). La galería usa el Photo Picker: sin permisos de almacenamiento. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Sin cámara igual se puede registrar desde la galería o a mano (P19). -->
    <uses-feature android:name="android.hardware.camera.any" android:required="false"/>

    <application
            android:name=".App"
            android:allowBackup="false"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.FacturasS20">
        <activity
                android:name=".ui.comun.MainActivity"
                android:exported="true"
                android:theme="@style/Theme.FacturasS20.Arranque"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- P06 Cámara: la abre P05 y devuelve el resultado. Vertical: el marco de encuadre es de una factura de pie. -->
        <activity
                android:name=".ui.captura.CapturaActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.FacturasS20.Camara"
                tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
    </application>

</manifest>